In [19]:
sql(
    '''
    WITH daily_avg_sales AS
        (SELECT
            date_format(order_date, '%Y-%m-%d') order_day,
            avg(sales) avg_sales
        FROM 
            superstore
        GROUP BY
            order_day
        )
    SELECT order_day, avg_sales
    FROM daily_avg_sales
    ORDER BY order_day;
    '''
)

       order_day   avg_sales
0     2014-01-04   96.020000
1     2014-01-05   19.536000
2     2014-01-06  489.677778
3     2014-01-07   43.579000
4     2014-01-09   20.272000
...          ...         ...
1168  2017-12-26  376.906000
1169  2017-12-27   88.818000
1170  2017-12-28   90.283576
1171  2017-12-29  242.961167
1172  2017-12-30  101.970000

[1173 rows x 2 columns]