In [21]:
sql(
    '''
    SELECT  order_id, 
            date_format(order_date, '%Y-%m-%d') order_date, 
            category,
            Avg(profit) OVER (PARTITION BY Order_Date) daily_avg_profit
    FROM superstore
    WHERE order_date BETWEEN (SELECT MIN(order_date) FROM superstore) AND 
                            (SELECT MAX(order_date) FROM superstore)
    GROUP BY order_date;
    '''
)

            order_id  order_date         category  daily_avg_profit
0     CA-2014-112326  2014-01-04  Office Supplies            4.2717
1     CA-2014-141817  2014-01-05  Office Supplies            4.8840
2     CA-2014-130813  2014-01-06  Office Supplies            9.3312
3     CA-2014-105417  2014-01-07        Furniture          -53.7096
4     CA-2014-135405  2014-01-09  Office Supplies            1.1680
...              ...         ...              ...               ...
1168  CA-2017-112487  2017-12-26  Office Supplies           -2.6100
1169  CA-2017-134404  2017-12-27       Technology          -35.6174
1170  CA-2017-163979  2017-12-28  Office Supplies          210.4936
1171  CA-2017-118885  2017-12-29        Furniture          -44.2764
1172  CA-2017-126221  2017-12-30  Office Supplies           56.5110

[1173 rows x 4 columns]